# Copie para .env e preencha com seus dados
MQTT_HOST=07847a67e2944aca805e81e761a6f177.s1.eu.hivemq.cloud
MQTT_PORT=8883
MQTT_USER=monitortemp
MQTT_PASS=061084Cc@

GOOGLE_SHEET_ID=1ABCdefGHIjklMNOpqrsTUVwxyz123456
GOOGLE_SHEET_NAME=Medidor

VAPID_PUBLIC_KEY=BAr__h-peUzkzXFpUc0azRN70irT6bQVz1PHsUbsWIH2w5BDV1KligHC116A6bXXg_BVW7SpkvCNNm0gadgEuMc
VAPID_PRIVATE_KEY=4zqMat_A0PLPWh9Nn9OaVFPcqocvFWp0tQgdslBkMV4
